.main-navigation {
    display: flex;
    width: 100%;
}

.site-logo {
    display: flex;
    width: 100%;
    align-items: center;
    cursor: default;
}

.site-logo h3 {
    color: white;
}

.main-menu {
    margin: auto;
    display: flex;
    justify-content: flex-end;
    flex: 1;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
}

li a {
    color: #ffff;
    text-decoration: none;
    padding: 15px 15px 10px 15px;
    border-bottom: 3px solid transparent;
    transition: all .5s;
    text-shadow: -1px -1px 0 #303030, 1px -1px 0 #303030, -1px 1px 0 #303030, 1px 1px #303030;
}

li a:hover {
    border-bottom-color: #0051ff;
}

.main-list li{
    padding: 15px;
    list-style: none;
}

.logo {
    width: 4rem;
}

header {
    position: fixed;
    width: 100%;
    padding: 10px 15px 10px 20px;
    background-color: rgba(41, 41, 41, 0);
    border-radius: 0 0 10px 10px;
    font-size: 1.3rem;
    transition: all 1s ease;
    z-index: 2;
}

header.scrolled {
    background-color: rgba(26, 26, 26, 0.9);
}